{
  "openapi": "3.0.2",
  "info": {
    "title": "Unit OpenAPI specifications",
    "description": "An OpenAPI specifications for unit-sdk clients",
    "version": "0.2.3",
    "x-combined": true,
    "x-original-file": "openapi.json",
    "x-total-refs-resolved": 428
  },
  "servers": [
    {
      "url": "https://api.s.unit.sh"
    }
  ],
  "paths": {
    "/applications/{applicationId}": {
      "get": {
        "tags": [
          "unit"
        ],
        "operationId": "getApplication",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "ID of the application to get"
          },
          {
            "name": "included",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Get Application by Id",
        "description": "Get an Application from API ",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/vnd.api+json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "title": "Unit Application Response With Included",
                  "properties": {
                    "data": {
                      "title": "Application",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "pattern": "^[1-9]\\d*$"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "individualApplication",
                            "businessApplication"
                          ]
                        }
                      },
                      "discriminator": {
                        "propertyName": "type",
                        "mapping": {
                          "individualApplication": "#/components/schemas/IndividualApplication",
                          "businessApplication": "#/components/schemas/BusinessApplication"
                        }
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "object"
                          },
                          "relationships": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "unit"
        ],
        "operationId": "updateApplication",
        "summary": "Update Application",
        "description": "Update an Application via API ",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "ID of the application to update"
          }
        ],
        "requestBody": {
          "description": "Update Application Request",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "title": "Update Application",
                "type": "object",
                "properties": {
                  "data": {
                    "oneOf": [
                      {
                        "title": "Update Business Application",
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "businessApplication"
                            ],
                            "default": "businessApplication"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "tags": {
                                "type": "object",
                                "maxProperties": 15,
                                "additionalProperties": {
                                  "type": "string",
                                  "maxLength": 255,
                                  "minLength": 1
                                }
                              },
                              "annualRevenue": {
                                "type": "string",
                                "enum": [
                                  "UpTo250k",
                                  "Between250kAnd500k",
                                  "Between500kAnd1m",
                                  "Between1mAnd5m",
                                  "Over5m"
                                ]
                              },
                              "numberOfEmployees": {
                                "type": "string",
                                "enum": [
                                  "UpTo10",
                                  "Between10And50",
                                  "Between50And100",
                                  "Between100And500",
                                  "Over500"
                                ]
                              },
                              "cashFlow": {
                                "type": "string",
                                "enum": [
                                  "Unpredictable",
                                  "Predictable"
                                ]
                              },
                              "yearOfIncorporation": {
                                "type": "string",
                                "pattern": "^\\d{4}$"
                              },
                              "countriesOfOperation": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "pattern": "^(A(D|E|F|G|I|L|M|N|O|R|S|T|Q|U|W|X|Z)|B(A|B|D|E|F|G|H|I|J|L|M|N|O|Q|R|S|T|V|W|Y|Z)|C(A|C|D|F|G|H|I|K|L|M|N|O|R|U|V|W|X|Y|Z)|D(E|J|K|M|O|Z)|E(C|E|G|H|R|S|T)|F(I|J|K|M|O|R)|G(A|B|D|E|F|G|H|I|L|M|N|P|Q|R|S|T|U|W|Y)|H(K|M|N|R|T|U)|I(D|E|Q|L|M|N|O|R|S|T)|J(E|M|O|P)|K(E|G|H|I|M|N|P|R|W|Y|Z)|L(A|B|C|I|K|R|S|T|U|V|Y)|M(A|C|D|E|F|G|H|K|L|M|N|O|Q|P|R|S|T|U|V|W|X|Y|Z)|N(A|C|E|F|G|I|L|O|P|R|U|Z)|OM|P(A|E|F|G|H|K|L|M|N|R|S|T|W|Y)|QA|R(E|O|S|U|W)|S(A|B|C|D|E|G|H|I|J|K|L|M|N|O|R|T|V|X|Y|Z)|T(C|D|F|G|H|J|K|L|M|N|O|R|T|V|W|Z)|U(A|G|M|S|Y|Z)|V(A|C|E|G|I|N|U)|W(F|S)|XK|Y(E|T)|Z(A|M|W))$"
                                },
                                "minItems": 1
                              },
                              "stockSymbol": {
                                "type": "string"
                              },
                              "website": {
                                "type": "string"
                              },
                              "businessVertical": {
                                "type": "string",
                                "enum": [
                                  "AdultEntertainmentDatingOrEscortServices",
                                  "AgricultureForestryFishingOrHunting",
                                  "ArtsEntertainmentAndRecreation",
                                  "BusinessSupportOrBuildingServices",
                                  "Cannabis",
                                  "Construction",
                                  "DirectMarketingOrTelemarketing",
                                  "EducationalServices",
                                  "FinancialServicesCryptocurrency",
                                  "FinancialServicesDebitCollectionOrConsolidation",
                                  "FinancialServicesMoneyServicesBusinessOrCurrencyExchange",
                                  "FinancialServicesOther",
                                  "FinancialServicesPaydayLending",
                                  "GamingOrGambling",
                                  "HealthCareAndSocialAssistance",
                                  "HospitalityAccommodationOrFoodServices",
                                  "LegalAccountingConsultingOrComputerProgramming",
                                  "Manufacturing",
                                  "Mining",
                                  "Nutraceuticals",
                                  "PersonalCareServices",
                                  "PublicAdministration",
                                  "RealEstate",
                                  "ReligiousCivicAndSocialOrganizations",
                                  "RepairAndMaintenance",
                                  "RetailTrade",
                                  "TechnologyMediaOrTelecom",
                                  "TransportationOrWarehousing",
                                  "Utilities",
                                  "WholesaleTrade"
                                ]
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "type",
                          "attributes"
                        ]
                      },
                      {
                        "title": "Update Business Application",
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "beneficialOwner"
                            ],
                            "default": "beneficialOwner"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "occupation": {
                                "type": "string",
                                "enum": [
                                  "ArchitectOrEngineer",
                                  "BusinessAnalystAccountantOrFinancialAdvisor",
                                  "CommunityAndSocialServicesWorker",
                                  "ConstructionMechanicOrMaintenanceWorker",
                                  "Doctor",
                                  "Educator",
                                  "EntertainmentSportsArtsOrMedia",
                                  "ExecutiveOrManager",
                                  "FarmerFishermanForester",
                                  "FoodServiceWorker",
                                  "GigWorker",
                                  "HospitalityOfficeOrAdministrativeSupportWorker",
                                  "HouseholdManager",
                                  "JanitorHousekeeperLandscaper",
                                  "Lawyer",
                                  "ManufacturingOrProductionWorker",
                                  "MilitaryOrPublicSafety",
                                  "NurseHealthcareTechnicianOrHealthcareSupport",
                                  "PersonalCareOrServiceWorker",
                                  "PilotDriverOperator",
                                  "SalesRepresentativeBrokerAgent",
                                  "ScientistOrTechnologist",
                                  "Student"
                                ]
                              },
                              "annualIncome": {
                                "type": "string",
                                "enum": [
                                  "UpTo10k",
                                  "Between10kAnd25k",
                                  "Between25kAnd50k",
                                  "Between50kAnd100k",
                                  "Between100kAnd250k",
                                  "Over250k"
                                ]
                              },
                              "sourceOfIncome": {
                                "type": "string",
                                "enum": [
                                  "EmploymentOrPayrollIncome",
                                  "PartTimeOrContractorIncome",
                                  "InheritancesAndGifts",
                                  "PersonalInvestments",
                                  "BusinessOwnershipInterests",
                                  "GovernmentBenefits"
                                ]
                              },
                              "relationships": {
                                "type": "object",
                                "properties": {
                                  "application": {
                                    "type": "object",
                                    "title": "Application Relationship",
                                    "properties": {
                                      "data": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "pattern": "^[1-9]\\d*$"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "businessApplication",
                                              "individualApplication",
                                              "application"
                                            ]
                                          }
                                        },
                                        "additionalProperties": false,
                                        "required": [
                                          "id",
                                          "type"
                                        ]
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "data"
                                    ]
                                  }
                                }
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "type",
                          "attributes"
                        ]
                      },
                      {
                        "title": "Update Sole Proprietor Application",
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "individualApplication"
                            ],
                            "default": "individualApplication"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "tags": {
                                "type": "object",
                                "maxProperties": 15,
                                "additionalProperties": {
                                  "type": "string",
                                  "maxLength": 255,
                                  "minLength": 1
                                }
                              },
                              "annualRevenue": {
                                "type": "string",
                                "enum": [
                                  "UpTo50k",
                                  "Between50kAnd100k",
                                  "Between100kAnd200k",
                                  "Between200kAnd500k",
                                  "Over500k"
                                ]
                              },
                              "numberOfEmployees": {
                                "type": "string",
                                "enum": [
                                  "One",
                                  "Between2And5",
                                  "Between5And10",
                                  "Over10"
                                ]
                              },
                              "businessVertical": {
                                "type": "string",
                                "enum": [
                                  "AdultEntertainmentDatingOrEscortServices",
                                  "AgricultureForestryFishingOrHunting",
                                  "ArtsEntertainmentAndRecreation",
                                  "BusinessSupportOrBuildingServices",
                                  "Cannabis",
                                  "Construction",
                                  "DirectMarketingOrTelemarketing",
                                  "EducationalServices",
                                  "FinancialServicesCryptocurrency",
                                  "FinancialServicesDebitCollectionOrConsolidation",
                                  "FinancialServicesMoneyServicesBusinessOrCurrencyExchange",
                                  "FinancialServicesOther",
                                  "FinancialServicesPaydayLending",
                                  "GamingOrGambling",
                                  "HealthCareAndSocialAssistance",
                                  "HospitalityAccommodationOrFoodServices",
                                  "LegalAccountingConsultingOrComputerProgramming",
                                  "Manufacturing",
                                  "Mining",
                                  "Nutraceuticals",
                                  "PersonalCareServices",
                                  "PublicAdministration",
                                  "RealEstate",
                                  "ReligiousCivicAndSocialOrganizations",
                                  "RepairAndMaintenance",
                                  "RetailTrade",
                                  "TechnologyMediaOrTelecom",
                                  "TransportationOrWarehousing",
                                  "Utilities",
                                  "WholesaleTrade"
                                ]
                              },
                              "website": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "type",
                          "attributes"
                        ]
                      },
                      {
                        "title": "Update Individual Application",
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "individualApplication"
                            ],
                            "default": "individualApplication"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "tags": {
                                "type": "object",
                                "maxProperties": 15,
                                "additionalProperties": {
                                  "type": "string",
                                  "maxLength": 255,
                                  "minLength": 1
                                }
                              },
                              "occupation": {
                                "type": "string",
                                "enum": [
                                  "ArchitectOrEngineer",
                                  "BusinessAnalystAccountantOrFinancialAdvisor",
                                  "CommunityAndSocialServicesWorker",
                                  "ConstructionMechanicOrMaintenanceWorker",
                                  "Doctor",
                                  "Educator",
                                  "EntertainmentSportsArtsOrMedia",
                                  "ExecutiveOrManager",
                                  "FarmerFishermanForester",
                                  "FoodServiceWorker",
                                  "GigWorker",
                                  "HospitalityOfficeOrAdministrativeSupportWorker",
                                  "HouseholdManager",
                                  "JanitorHousekeeperLandscaper",
                                  "Lawyer",
                                  "ManufacturingOrProductionWorker",
                                  "MilitaryOrPublicSafety",
                                  "NurseHealthcareTechnicianOrHealthcareSupport",
                                  "PersonalCareOrServiceWorker",
                                  "PilotDriverOperator",
                                  "SalesRepresentativeBrokerAgent",
                                  "ScientistOrTechnologist",
                                  "Student"
                                ]
                              },
                              "annualIncome": {
                                "type": "string",
                                "enum": [
                                  "UpTo10k",
                                  "Between10kAnd25k",
                                  "Between25kAnd50k",
                                  "Between50kAnd100k",
                                  "Between100kAnd250k",
                                  "Over250k"
                                ]
                              },
                              "sourceOfIncome": {
                                "type": "string",
                                "enum": [
                                  "EmploymentOrPayrollIncome",
                                  "PartTimeOrContractorIncome",
                                  "InheritancesAndGifts",
                                  "PersonalInvestments",
                                  "BusinessOwnershipInterests",
                                  "GovernmentBenefits"
                                ]
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "type",
                          "attributes"
                        ]
                      },
                      {
                        "type": "object",
                        "title": "Update Business Officer",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "businessApplication"
                            ],
                            "default": "businessApplication"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "officer": {
                                "type": "object",
                                "properties": {
                                  "occupation": {
                                    "type": "string",
                                    "enum": [
                                      "ArchitectOrEngineer",
                                      "BusinessAnalystAccountantOrFinancialAdvisor",
                                      "CommunityAndSocialServicesWorker",
                                      "ConstructionMechanicOrMaintenanceWorker",
                                      "Doctor",
                                      "Educator",
                                      "EntertainmentSportsArtsOrMedia",
                                      "ExecutiveOrManager",
                                      "FarmerFishermanForester",
                                      "FoodServiceWorker",
                                      "GigWorker",
                                      "HospitalityOfficeOrAdministrativeSupportWorker",
                                      "HouseholdManager",
                                      "JanitorHousekeeperLandscaper",
                                      "Lawyer",
                                      "ManufacturingOrProductionWorker",
                                      "MilitaryOrPublicSafety",
                                      "NurseHealthcareTechnicianOrHealthcareSupport",
                                      "PersonalCareOrServiceWorker",
                                      "PilotDriverOperator",
                                      "SalesRepresentativeBrokerAgent",
                                      "ScientistOrTechnologist",
                                      "Student"
                                    ]
                                  },
                                  "annualIncome": {
                                    "type": "string",
                                    "enum": [
                                      "UpTo10k",
                                      "Between10kAnd25k",
                                      "Between25kAnd50k",
                                      "Between50kAnd100k",
                                      "Between100kAnd250k",
                                      "Over250k"
                                    ]
                                  },
                                  "sourceOfIncome": {
                                    "type": "string",
                                    "enum": [
                                      "EmploymentOrPayrollIncome",
                                      "PartTimeOrContractorIncome",
                                      "InheritancesAndGifts",
                                      "PersonalInvestments",
                                      "BusinessOwnershipInterests",
                                      "GovernmentBenefits"
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        },
                        "required": [
                          "attributes",
                          "type"
                        ]
                      }
                    ]
                  }
                },
                "additionalProperties": false,
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/vnd.api+json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "title": "Unit Application Response With Included",
                  "properties": {
                    "data": {
                      "title": "Application",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "pattern": "^[1-9]\\d*$"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "individualApplication",
                            "businessApplication"
                          ]
                        }
                      },
                      "discriminator": {
                        "propertyName": "type",
                        "mapping": {
                          "individualApplication": "#/components/schemas/IndividualApplication",
                          "businessApplication": "#/components/schemas/BusinessApplication"
                        }
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "object"
                          },
                          "relationships": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/applications/{applicationId}/cancel": {
      "post": {
        "tags": [
          "unit"
        ],
        "operationId": "cancelApplication",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "ID of the application to get"
          }
        ],
        "summary": "Cancel Application by Id",
        "description": "Cancel a Application via API ",
        "requestBody": {
          "description": "Cancel Application Request",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "title": "Cancel Application Request",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "applicationCancel"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "reason": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "title": "Unit Cancel Application Response",
                  "properties": {
                    "data": {
                      "title": "Application",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "pattern": "^[1-9]\\d*$"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "individualApplication",
                            "businessApplication"
                          ]
                        }
                      },
                      "discriminator": {
                        "propertyName": "type",
                        "mapping": {
                          "individualApplication": "#/components/schemas/IndividualApplication",
                          "businessApplication": "#/components/schemas/BusinessApplication"
                        }
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "title": "Application Document",
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "document"
                            ],
                            "default": "document"
                          },
                          "id": {
                            "type": "string",
                            "pattern": "^[1-9]\\d*$"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "documentType": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "nationality": {
                                "type": "string",
                                "pattern": "^(A(D|E|F|G|I|L|M|N|O|R|S|T|Q|U|W|X|Z)|B(A|B|D|E|F|G|H|I|J|L|M|N|O|Q|R|S|T|V|W|Y|Z)|C(A|C|D|F|G|H|I|K|L|M|N|O|R|U|V|W|X|Y|Z)|D(E|J|K|M|O|Z)|E(C|E|G|H|R|S|T)|F(I|J|K|M|O|R)|G(A|B|D|E|F|G|H|I|L|M|N|P|Q|R|S|T|U|W|Y)|H(K|M|N|R|T|U)|I(D|E|Q|L|M|N|O|R|S|T)|J(E|M|O|P)|K(E|G|H|I|M|N|P|R|W|Y|Z)|L(A|B|C|I|K|R|S|T|U|V|Y)|M(A|C|D|E|F|G|H|K|L|M|N|O|Q|P|R|S|T|U|V|W|X|Y|Z)|N(A|C|E|F|G|I|L|O|P|R|U|Z)|OM|P(A|E|F|G|H|K|L|M|N|R|S|T|W|Y)|QA|R(E|O|S|U|W)|S(A|B|C|D|E|G|H|I|J|K|L|M|N|O|R|T|V|X|Y|Z)|T(C|D|F|G|H|J|K|L|M|N|O|R|T|V|W|Z)|U(A|G|M|S|Y|Z)|V(A|C|E|G|I|N|U)|W(F|S)|XK|Y(E|T)|Z(A|M|W))$"
                              },
                              "ssn": {
                                "type": "string",
                                "pattern": "^\\d{9}$"
                              },
                              "passport": {
                                "type": "string"
                              },
                              "matriculaConsular": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "address": {
                                "title": "Address",
                                "type": "object",
                                "properties": {
                                  "street": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 255,
                                    "pattern": "^.*$"
                                  },
                                  "street2": {
                                    "type": "string",
                                    "nullable": true,
                                    "pattern": "^.*$"
                                  },
                                  "city": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 255,
                                    "pattern": "^.*$"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "postalCode": {
                                    "type": "string",
                                    "pattern": "^[0-9]{5}(?:-[0-9]{4})?$"
                                  },
                                  "country": {
                                    "type": "string",
                                    "default": "US"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "street",
                                  "city",
                                  "postalCode",
                                  "country",
                                  "state"
                                ]
                              },
                              "dateOfIncorporation": {
                                "type": "string",
                                "format": "date"
                              },
                              "stateOfIncorporation": {
                                "type": "string"
                              },
                              "dateOfBirth": {
                                "type": "string",
                                "format": "date"
                              },
                              "ein": {
                                "type": "string",
                                "pattern": "^\\d{9}$"
                              },
                              "reasonCode": {
                                "type": "string"
                              },
                              "reason": {
                                "type": "string"
                              },
                              "evaluationId": {
                                "type": "string"
                              },
                              "frontDocumentId": {
                                "type": "string"
                              },
                              "backDocumentId": {
                                "type": "string"
                              },
                              "frontDocumentStoreId": {
                                "type": "string"
                              },
                              "backDocumentStoreId": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false,
                            "required": [
                              "status"
                            ]
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "type",
                          "id",
                          "attributes"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/applications": {
      "get": {
        "tags": [
          "unit"
        ],
        "operationId": "getApplicationsList",
        "summary": "Get List Application",
        "description": "Get List Applications from API ",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "description": "Parameters for paginated list requests",
              "properties": {
                "limit": {
                  "type": "integer",
                  "default": 100,
                  "maximum": 1000
                },
                "offset": {
                  "type": "integer",
                  "default": 0
                }
              }
            }
          },
          {
            "name": "filter",
            "in": "query",
            "style": "deepObject",
            "allowReserved": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string"
                },
                "status": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "AwaitingDocuments",
                      "PendingReview",
                      "Pending",
                      "Approved",
                      "Denied",
                      "Canceled"
                    ]
                  }
                },
                "email": {
                  "type": "string"
                },
                "tags": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "title": "Unit List Applications Response",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "title": "Application",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^[1-9]\\d*$"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "individualApplication",
                              "businessApplication"
                            ]
                          }
                        },
                        "discriminator": {
                          "propertyName": "type",
                          "mapping": {
                            "individualApplication": "#/components/schemas/IndividualApplication",
                            "businessApplication": "#/components/schemas/BusinessApplication"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "limit": {
                              "type": "integer"
                            },
                            "offset": {
                              "type": "integer"
                            },
                            "total": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/vnd.api+json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "title": "Unit Error",
                  "items": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "detail": {
                        "type": "string"
                      },
                      "details": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "pointer": {
                            "type": "string"
                          }
                        }
                      },
                      "meta": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "unit"
        ],
        "operationId": "createApplication",
        "summary": "Create Application",
        "description": "Create an Application via API ",
        "requestBody": {
          "description": "Create Application Request",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "oneOf": [
                      {
                        "title": "Create Individual Application",
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "individualApplication"
                            ],
                            "default": "individualApplication"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "fullName": {
                                "title": "Full Name",
                                "type": "object",
                                "properties": {
                                  "first": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 255
                                  },
                                  "last": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 255
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "first",
                                  "last"
                                ]
                              },
                              "email": {
                                "type": "string",
                                "format": "email"
                              },
                              "phone": {
                                "title": "Phone",
                                "type": "object",
                                "properties": {
                                  "countryCode": {
                                    "type": "string"
                                  },
                                  "number": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "countryCode",
                                  "number"
                                ]
                              },
                              "ssn": {
                                "type": "string",
                                "nullable": true,
                                "pattern": "^\\d{9}|\\d{4}"
                              },
                              "passport": {
                                "type": "string",
                                "nullable": true
                              },
                              "nationality": {
                                "type": "string",
                                "pattern": "^(A(D|E|F|G|I|L|M|N|O|R|S|T|Q|U|W|X|Z)|B(A|B|D|E|F|G|H|I|J|L|M|N|O|Q|R|S|T|V|W|Y|Z)|C(A|C|D|F|G|H|I|K|L|M|N|O|R|U|V|W|X|Y|Z)|D(E|J|K|M|O|Z)|E(C|E|G|H|R|S|T)|F(I|J|K|M|O|R)|G(A|B|D|E|F|G|H|I|L|M|N|P|Q|R|S|T|U|W|Y)|H(K|M|N|R|T|U)|I(D|E|Q|L|M|N|O|R|S|T)|J(E|M|O|P)|K(E|G|H|I|M|N|P|R|W|Y|Z)|L(A|B|C|I|K|R|S|T|U|V|Y)|M(A|C|D|E|F|G|H|K|L|M|N|O|Q|P|R|S|T|U|V|W|X|Y|Z)|N(A|C|E|F|G|I|L|O|P|R|U|Z)|OM|P(A|E|F|G|H|K|L|M|N|R|S|T|W|Y)|QA|R(E|O|S|U|W)|S(A|B|C|D|E|G|H|I|J|K|L|M|N|O|R|T|V|X|Y|Z)|T(C|D|F|G|H|J|K|L|M|N|O|R|T|V|W|Z)|U(A|G|M|S|Y|Z)|V(A|C|E|G|I|N|U)|W(F|S)|XK|Y(E|T)|Z(A|M|W))$",
                                "nullable": true
                              },
                              "address": {
                                "title": "Address",
                                "type": "object",
                                "properties": {
                                  "street": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 255,
                                    "pattern": "^.*$"
                                  },
                                  "street2": {
                                    "type": "string",
                                    "nullable": true,
                                    "pattern": "^.*$"
                                  },
                                  "city": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 255,
                                    "pattern": "^.*$"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "postalCode": {
                                    "type": "string",
                                    "pattern": "^[0-9]{5}(?:-[0-9]{4})?$"
                                  },
                                  "country": {
                                    "type": "string",
                                    "default": "US"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "street",
                                  "city",
                                  "postalCode",
                                  "country",
                                  "state"
                                ]
                              },
                              "dateOfBirth": {
                                "type": "string",
                                "format": "date"
                              },
                              "ip": {
                                "type": "string"
                              },
                              "tags": {
                                "type": "object",
                                "maxProperties": 15,
                                "additionalProperties": {
                                  "type": "string",
                                  "maxLength": 255,
                                  "minLength": 1
                                }
                              },
                              "idempotencyKey": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 255
                              },
                              "deviceFingerprints": {
                                "type": "array",
                                "maxItems": 1,
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "provider": {
                                      "type": "string",
                                      "enum": [
                                        "iovation"
                                      ]
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false,
                                  "required": [
                                    "provider",
                                    "value"
                                  ]
                                }
                              },
                              "jwtSubject": {
                                "type": "string",
                                "nullable": true
                              },
                              "powerOfAttorneyAgent": {
                                "title": "Create Power of Attorney Agent",
                                "type": "object",
                                "properties": {
                                  "fullName": {
                                    "title": "Full Name",
                                    "type": "object",
                                    "properties": {
                                      "first": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 255
                                      },
                                      "last": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 255
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "first",
                                      "last"
                                    ]
                                  },
                                  "email": {
                                    "type": "string",
                                    "format": "email"
                                  },
                                  "phone": {
                                    "title": "Phone",
                                    "type": "object",
                                    "properties": {
                                      "countryCode": {
                                        "type": "string"
                                      },
                                      "number": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "countryCode",
                                      "number"
                                    ]
                                  },
                                  "ssn": {
                                    "type": "string",
                                    "pattern": "^\\d{9}$"
                                  },
                                  "passport": {
                                    "type": "string"
                                  },
                                  "nationality": {
                                    "type": "string",
                                    "pattern": "^(A(D|E|F|G|I|L|M|N|O|R|S|T|Q|U|W|X|Z)|B(A|B|D|E|F|G|H|I|J|L|M|N|O|Q|R|S|T|V|W|Y|Z)|C(A|C|D|F|G|H|I|K|L|M|N|O|R|U|V|W|X|Y|Z)|D(E|J|K|M|O|Z)|E(C|E|G|H|R|S|T)|F(I|J|K|M|O|R)|G(A|B|D|E|F|G|H|I|L|M|N|P|Q|R|S|T|U|W|Y)|H(K|M|N|R|T|U)|I(D|E|Q|L|M|N|O|R|S|T)|J(E|M|O|P)|K(E|G|H|I|M|N|P|R|W|Y|Z)|L(A|B|C|I|K|R|S|T|U|V|Y)|M(A|C|D|E|F|G|H|K|L|M|N|O|Q|P|R|S|T|U|V|W|X|Y|Z)|N(A|C|E|F|G|I|L|O|P|R|U|Z)|OM|P(A|E|F|G|H|K|L|M|N|R|S|T|W|Y)|QA|R(E|O|S|U|W)|S(A|B|C|D|E|G|H|I|J|K|L|M|N|O|R|T|V|X|Y|Z)|T(C|D|F|G|H|J|K|L|M|N|O|R|T|V|W|Z)|U(A|G|M|S|Y|Z)|V(A|C|E|G|I|N|U)|W(F|S)|XK|Y(E|T)|Z(A|M|W))$"
                                  },
                                  "matriculaConsular": {
                                    "type": "string"
                                  },
                                  "address": {
                                    "title": "Address",
                                    "type": "object",
                                    "properties": {
                                      "street": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 255,
                                        "pattern": "^.*$"
                                      },
                                      "street2": {
                                        "type": "string",
                                        "nullable": true,
                                        "pattern": "^.*$"
                                      },
                                      "city": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 255,
                                        "pattern": "^.*$"
                                      },
                                      "state": {
                                        "type": "string"
                                      },
                                      "postalCode": {
                                        "type": "string",
                                        "pattern": "^[0-9]{5}(?:-[0-9]{4})?$"
                                      },
                                      "country": {
                                        "type": "string",
                                        "default": "US"
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "street",
                                      "city",
                                      "postalCode",
                                      "country",
                                      "state"
                                    ]
                                  },
                                  "dateOfBirth": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "jwtSubject": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "EvaluationParams": {
                                    "title": "Evaluation Params",
                                    "type": "object",
                                    "properties": {
                                      "useSelfieVerification": {
                                        "type": "string",
                                        "enum": [
                                          "Never",
                                          "ReplaceIdentification",
                                          "Always"
                                        ]
                                      },
                                      "requireIdVerification": {
                                        "type": "boolean",
                                        "default": false
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "fullName",
                                  "email",
                                  "phone",
                                  "address",
                                  "dateOfBirth"
                                ]
                              },
                              "industry": {
                                "type": "string",
                                "enum": [
                                  "Retail",
                                  "Wholesale",
                                  "Restaurants",
                                  "Hospitals",
                                  "Construction",
                                  "Insurance",
                                  "Unions",
                                  "RealEstate",
                                  "FreelanceProfessional",
                                  "OtherProfessionalServices",
                                  "OnlineRetailer",
                                  "OtherEducationServices"
                                ]
                              },
                              "EvaluationParams": {
                                "title": "Evaluation Params",
                                "type": "object",
                                "properties": {
                                  "useSelfieVerification": {
                                    "type": "string",
                                    "enum": [
                                      "Never",
                                      "ReplaceIdentification",
                                      "Always"
                                    ]
                                  },
                                  "requireIdVerification": {
                                    "type": "boolean",
                                    "default": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "occupation": {
                                "type": "string",
                                "enum": [
                                  "ArchitectOrEngineer",
                                  "BusinessAnalystAccountantOrFinancialAdvisor",
                                  "CommunityAndSocialServicesWorker",
                                  "ConstructionMechanicOrMaintenanceWorker",
                                  "Doctor",
                                  "Educator",
                                  "EntertainmentSportsArtsOrMedia",
                                  "ExecutiveOrManager",
                                  "FarmerFishermanForester",
                                  "FoodServiceWorker",
                                  "GigWorker",
                                  "HospitalityOfficeOrAdministrativeSupportWorker",
                                  "HouseholdManager",
                                  "JanitorHousekeeperLandscaper",
                                  "Lawyer",
                                  "ManufacturingOrProductionWorker",
                                  "MilitaryOrPublicSafety",
                                  "NurseHealthcareTechnicianOrHealthcareSupport",
                                  "PersonalCareOrServiceWorker",
                                  "PilotDriverOperator",
                                  "SalesRepresentativeBrokerAgent",
                                  "ScientistOrTechnologist",
                                  "Student"
                                ]
                              },
                              "annualIncome": {
                                "type": "string",
                                "enum": [
                                  "UpTo10k",
                                  "Between10kAnd25k",
                                  "Between25kAnd50k",
                                  "Between50kAnd100k",
                                  "Between100kAnd250k",
                                  "Over250k"
                                ]
                              },
                              "sourceOfIncome": {
                                "type": "string",
                                "enum": [
                                  "EmploymentOrPayrollIncome",
                                  "PartTimeOrContractorIncome",
                                  "InheritancesAndGifts",
                                  "PersonalInvestments",
                                  "BusinessOwnershipInterests",
                                  "GovernmentBenefits"
                                ]
                              }
                            },
                            "additionalProperties": false,
                            "required": [
                              "fullName",
                              "email",
                              "phone",
                              "address",
                              "dateOfBirth"
                            ]
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "type",
                          "attributes"
                        ]
                      },
                      {
                        "title": "Create Sole Proprietor Application",
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "individualApplication"
                            ],
                            "default": "individualApplication"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "fullName": {
                                "title": "Full Name",
                                "type": "object",
                                "properties": {
                                  "first": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 255
                                  },
                                  "last": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 255
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "first",
                                  "last"
                                ]
                              },
                              "email": {
                                "type": "string",
                                "format": "email"
                              },
                              "phone": {
                                "title": "Phone",
                                "type": "object",
                                "properties": {
                                  "countryCode": {
                                    "type": "string"
                                  },
                                  "number": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "countryCode",
                                  "number"
                                ]
                              },
                              "ssn": {
                                "type": "string",
                                "nullable": true,
                                "pattern": "^\\d{9}|\\d{4}"
                              },
                              "passport": {
                                "type": "string",
                                "nullable": true
                              },
                              "nationality": {
                                "type": "string",
                                "pattern": "^(A(D|E|F|G|I|L|M|N|O|R|S|T|Q|U|W|X|Z)|B(A|B|D|E|F|G|H|I|J|L|M|N|O|Q|R|S|T|V|W|Y|Z)|C(A|C|D|F|G|H|I|K|L|M|N|O|R|U|V|W|X|Y|Z)|D(E|J|K|M|O|Z)|E(C|E|G|H|R|S|T)|F(I|J|K|M|O|R)|G(A|B|D|E|F|G|H|I|L|M|N|P|Q|R|S|T|U|W|Y)|H(K|M|N|R|T|U)|I(D|E|Q|L|M|N|O|R|S|T)|J(E|M|O|P)|K(E|G|H|I|M|N|P|R|W|Y|Z)|L(A|B|C|I|K|R|S|T|U|V|Y)|M(A|C|D|E|F|G|H|K|L|M|N|O|Q|P|R|S|T|U|V|W|X|Y|Z)|N(A|C|E|F|G|I|L|O|P|R|U|Z)|OM|P(A|E|F|G|H|K|L|M|N|R|S|T|W|Y)|QA|R(E|O|S|U|W)|S(A|B|C|D|E|G|H|I|J|K|L|M|N|O|R|T|V|X|Y|Z)|T(C|D|F|G|H|J|K|L|M|N|O|R|T|V|W|Z)|U(A|G|M|S|Y|Z)|V(A|C|E|G|I|N|U)|W(F|S)|XK|Y(E|T)|Z(A|M|W))$",
                                "nullable": true
                              },
                              "matriculaConsular": {
                                "type": "string",
                                "nullable": true
                              },
                              "address": {
                                "title": "Address",
                                "type": "object",
                                "properties": {
                                  "street": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 255,
                                    "pattern": "^.*$"
                                  },
                                  "street2": {
                                    "type": "string",
                                    "nullable": true,
                                    "pattern": "^.*$"
                                  },
                                  "city": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 255,
                                    "pattern": "^.*$"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "postalCode": {
                                    "type": "string",
                                    "pattern": "^[0-9]{5}(?:-[0-9]{4})?$"
                                  },
                                  "country": {
                                    "type": "string",
                                    "default": "US"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "street",
                                  "city",
                                  "postalCode",
                                  "country",
                                  "state"
                                ]
                              },
                              "dateOfBirth": {
                                "type": "string",
                                "format": "date"
                              },
                              "dba": {
                                "type": "string",
                                "nullable": true
                              },
                              "ein": {
                                "type": "string",
                                "nullable": true,
                                "pattern": "^\\d{9}$"
                              },
                              "ip": {
                                "type": "string"
                              },
                              "soleProprietorship": {
                                "type": "boolean",
                                "default": false
                              },
                              "tags": {
                                "type": "object",
                                "maxProperties": 15,
                                "additionalProperties": {
                                  "type": "string",
                                  "maxLength": 255,
                                  "minLength": 1
                                }
                              },
                              "idempotencyKey": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 255
                              },
                              "deviceFingerprints": {
                                "type": "array",
                                "maxItems": 1,
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "provider": {
                                      "type": "string",
                                      "enum": [
                                        "iovation"
                                      ]
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false,
                                  "required": [
                                    "provider",
                                    "value"
                                  ]
                                }
                              },
                              "jwtSubject": {
                                "type": "string",
                                "nullable": true
                              },
                              "powerOfAttorneyAgent": {
                                "title": "Create Power of Attorney Agent",
                                "type": "object",
                                "properties": {
                                  "fullName": {
                                    "title": "Full Name",
                                    "type": "object",
                                    "properties": {
                                      "first": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 255
                                      },
                                      "last": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 255
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "first",
                                      "last"
                                    ]
                                  },
                                  "email": {
                                    "type": "string",
                                    "format": "email"
                                  },
                                  "phone": {
                                    "title": "Phone",
                                    "type": "object",
                                    "properties": {
                                      "countryCode": {
                                        "type": "string"
                                      },
                                      "number": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "countryCode",
                                      "number"
                                    ]
                                  },
                                  "ssn": {
                                    "type": "string",
                                    "pattern": "^\\d{9}$"
                                  },
                                  "passport": {
                                    "type": "string"
                                  },
                                  "nationality": {
                                    "type": "string",
                                    "pattern": "^(A(D|E|F|G|I|L|M|N|O|R|S|T|Q|U|W|X|Z)|B(A|B|D|E|F|G|H|I|J|L|M|N|O|Q|R|S|T|V|W|Y|Z)|C(A|C|D|F|G|H|I|K|L|M|N|O|R|U|V|W|X|Y|Z)|D(E|J|K|M|O|Z)|E(C|E|G|H|R|S|T)|F(I|J|K|M|O|R)|G(A|B|D|E|F|G|H|I|L|M|N|P|Q|R|S|T|U|W|Y)|H(K|M|N|R|T|U)|I(D|E|Q|L|M|N|O|R|S|T)|J(E|M|O|P)|K(E|G|H|I|M|N|P|R|W|Y|Z)|L(A|B|C|I|K|R|S|T|U|V|Y)|M(A|C|D|E|F|G|H|K|L|M|N|O|Q|P|R|S|T|U|V|W|X|Y|Z)|N(A|C|E|F|G|I|L|O|P|R|U|Z)|OM|P(A|E|F|G|H|K|L|M|N|R|S|T|W|Y)|QA|R(E|O|S|U|W)|S(A|B|C|D|E|G|H|I|J|K|L|M|N|O|R|T|V|X|Y|Z)|T(C|D|F|G|H|J|K|L|M|N|O|R|T|V|W|Z)|U(A|G|M|S|Y|Z)|V(A|C|E|G|I|N|U)|W(F|S)|XK|Y(E|T)|Z(A|M|W))$"
                                  },
                                  "matriculaConsular": {
                                    "type": "string"
                                  },
                                  "address": {
                                    "title": "Address",
                                    "type": "object",
                                    "properties": {
                                      "street": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 255,
                                        "pattern": "^.*$"
                                      },
                                      "street2": {
                                        "type": "string",
                                        "nullable": true,
                                        "pattern": "^.*$"
                                      },
                                      "city": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 255,
                                        "pattern": "^.*$"
                                      },
                                      "state": {
                                        "type": "string"
                                      },
                                      "postalCode": {
                                        "type": "string",
                                        "pattern": "^[0-9]{5}(?:-[0-9]{4})?$"
                                      },
                                      "country": {
                                        "type": "string",
                                        "default": "US"
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "street",
                                      "city",
                                      "postalCode",
                                      "country",
                                      "state"
                                    ]
                                  },
                                  "dateOfBirth": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "jwtSubject": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "EvaluationParams": {
                                    "title": "Evaluation Params",
                                    "type": "object",
                                    "properties": {
                                      "useSelfieVerification": {
                                        "type": "string",
                                        "enum": [
                                          "Never",
                                          "ReplaceIdentification",
                                          "Always"
                                        ]
                                      },
                                      "requireIdVerification": {
                                        "type": "boolean",
                                        "default": false
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "fullName",
                                  "email",
                                  "phone",
                                  "address",
                                  "dateOfBirth"
                                ]
                              },
                              "industry": {
                                "type": "string",
                                "enum": [
                                  "Retail",
                                  "Wholesale",
                                  "Restaurants",
                                  "Hospitals",
                                  "Construction",
                                  "Insurance",
                                  "Unions",
                                  "RealEstate",
                                  "FreelanceProfessional",
                                  "OtherProfessionalServices",
                                  "OnlineRetailer",
                                  "OtherEducationServices"
                                ]
                              },
                              "EvaluationParams": {
                                "title": "Evaluation Params",
                                "type": "object",
                                "properties": {
                                  "useSelfieVerification": {
                                    "type": "string",
                                    "enum": [
                                      "Never",
                                      "ReplaceIdentification",
                                      "Always"
                                    ]
                                  },
                                  "requireIdVerification": {
                                    "type": "boolean",
                                    "default": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "occupation": {
                                "type": "string",
                                "enum": [
                                  "ArchitectOrEngineer",
                                  "BusinessAnalystAccountantOrFinancialAdvisor",
                                  "CommunityAndSocialServicesWorker",
                                  "ConstructionMechanicOrMaintenanceWorker",
                                  "Doctor",
                                  "Educator",
                                  "EntertainmentSportsArtsOrMedia",
                                  "ExecutiveOrManager",
                                  "FarmerFishermanForester",
                                  "FoodServiceWorker",
                                  "GigWorker",
                                  "HospitalityOfficeOrAdministrativeSupportWorker",
                                  "HouseholdManager",
                                  "JanitorHousekeeperLandscaper",
                                  "Lawyer",
                                  "ManufacturingOrProductionWorker",
                                  "MilitaryOrPublicSafety",
                                  "NurseHealthcareTechnicianOrHealthcareSupport",
                                  "PersonalCareOrServiceWorker",
                                  "PilotDriverOperator",
                                  "SalesRepresentativeBrokerAgent",
                                  "ScientistOrTechnologist",
                                  "Student"
                                ]
                              },
                              "annualIncome": {
                                "type": "string",
                                "enum": [
                                  "UpTo10k",
                                  "Between10kAnd25k",
                                  "Between25kAnd50k",
                                  "Between50kAnd100k",
                                  "Between100kAnd250k",
                                  "Over250k"
                                ]
                              },
                              "sourceOfIncome": {
                                "type": "string",
                                "enum": [
                                  "EmploymentOrPayrollIncome",
                                  "PartTimeOrContractorIncome",
                                  "InheritancesAndGifts",
                                  "PersonalInvestments",
                                  "BusinessOwnershipInterests",
                                  "GovernmentBenefits"
                                ]
                              },
                              "annualRevenue": {
                                "type": "string",
                                "enum": [
                                  "UpTo50k",
                                  "Between50kAnd100k",
                                  "Between100kAnd200k",
                                  "Between200kAnd500k",
                                  "Over500k"
                                ]
                              },
                              "numberOfEmployees": {
                                "type": "string",
                                "enum": [
                                  "One",
                                  "Between2And5",
                                  "Between5And10",
                                  "Over10"
                                ]
                              },
                              "businessVertical": {
                                "type": "string",
                                "enum": [
                                  "AdultEntertainmentDatingOrEscortServices",
                                  "AgricultureForestryFishingOrHunting",
                                  "ArtsEntertainmentAndRecreation",
                                  "BusinessSupportOrBuildingServices",
                                  "Cannabis",
                                  "Construction",
                                  "DirectMarketingOrTelemarketing",
                                  "EducationalServices",
                                  "FinancialServicesCryptocurrency",
                                  "FinancialServicesDebitCollectionOrConsolidation",
                                  "FinancialServicesMoneyServicesBusinessOrCurrencyExchange",
                                  "FinancialServicesOther",
                                  "FinancialServicesPaydayLending",
                                  "GamingOrGambling",
                                  "HealthCareAndSocialAssistance",
                                  "HospitalityAccommodationOrFoodServices",
                                  "LegalAccountingConsultingOrComputerProgramming",
                                  "Manufacturing",
                                  "Mining",
                                  "Nutraceuticals",
                                  "PersonalCareServices",
                                  "PublicAdministration",
                                  "RealEstate",
                                  "ReligiousCivicAndSocialOrganizations",
                                  "RepairAndMaintenance",
                                  "RetailTrade",
                                  "TechnologyMediaOrTelecom",
                                  "TransportationOrWarehousing",
                                  "Utilities",
                                  "WholesaleTrade"
                                ]
                              },
                              "website": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false,
                            "required": [
                              "fullName",
                              "email",
                              "phone",
                              "address",
                              "dateOfBirth"
                            ]
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "type",
                          "attributes"
                        ]
                      },
                      {
                        "title": "Create Business Application",
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "businessApplication"
                            ],
                            "default": "businessApplication"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 255
                              },
                              "dba": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 255
                              },
                              "ein": {
                                "type": "string",
                                "pattern": "^\\d{9}$"
                              },
                              "entityType": {
                                "type": "string",
                                "enum": [
                                  "Corporation",
                                  "LLC",
                                  "Partnership",
                                  "PubliclyTradedCorporation",
                                  "PrivatelyHeldCorporation",
                                  "NotForProfitOrganization"
                                ]
                              },
                              "dateOfIncorporation": {
                                "type": "string",
                                "format": "date"
                              },
                              "stateOfIncorporation": {
                                "type": "string",
                                "minLength": 2,
                                "maxLength": 2
                              },
                              "purpose": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 1024
                              },
                              "phone": {
                                "title": "Phone",
                                "type": "object",
                                "properties": {
                                  "countryCode": {
                                    "type": "string"
                                  },
                                  "number": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "countryCode",
                                  "number"
                                ]
                              },
                              "address": {
                                "title": "Address",
                                "type": "object",
                                "properties": {
                                  "street": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 255,
                                    "pattern": "^.*$"
                                  },
                                  "street2": {
                                    "type": "string",
                                    "nullable": true,
                                    "pattern": "^.*$"
                                  },
                                  "city": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 255,
                                    "pattern": "^.*$"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "postalCode": {
                                    "type": "string",
                                    "pattern": "^[0-9]{5}(?:-[0-9]{4})?$"
                                  },
                                  "country": {
                                    "type": "string",
                                    "default": "US"
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "street",
                                  "city",
                                  "postalCode",
                                  "country",
                                  "state"
                                ]
                              },
                              "contact": {
                                "title": "Contact",
                                "type": "object",
                                "properties": {
                                  "fullName": {
                                    "title": "Full Name",
                                    "type": "object",
                                    "properties": {
                                      "first": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 255
                                      },
                                      "last": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 255
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "first",
                                      "last"
                                    ]
                                  },
                                  "email": {
                                    "type": "string",
                                    "format": "email"
                                  },
                                  "phone": {
                                    "title": "Phone",
                                    "type": "object",
                                    "properties": {
                                      "countryCode": {
                                        "type": "string"
                                      },
                                      "number": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                      "countryCode",
                                      "number"
                                    ]
                                  },
                                  "jwtSubject": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                },
                                "additionalProperties": false,
                                "required": [
                                  "fullName",
                                  "email",
                                  "phone"
                                ]
                              },
                              "officer": {
                                "title": "Create Officer",
                                "type": "object",
                                "properties": {
                                  "fullName": {
                                    "title": "Full Name",
                                    "type": "object",
                                    "properties": {
                                      "first": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 255
                                      },
[...]
